<footer class="footer">
  <div class="footer__container container">
    <div class="footer__leftside">
      <div class="footer_logo">
        <img src="images/logo.svg" alt="" />
      </div>
      <ul class="footer__menu">
        <li class="menu__item">
          <a href="#">ABOut</a>
        </li>
        <li class="menu__item">
          <a href="#">TERMS & CONDITIONS</a>
        </li>
        <li class="menu__item">
          <a href="#">PRIVACY POLICY</a>
        </li>
        <li class="menu__item">
          <a href="#">CONTACT US</a>
        </li>
      </ul>
    </div>
    <div class="footer__rightside">
      <form class="footer__newsletter" id="newsLetter">
        <div class="form__group">
          <label for="newsLetterInput" class="newsletter__input-label"
            >SIGN UP FOR OUR NEWSLETTer</label
          >
          <input
            type="text"
            name="newsLetterInput"
            id="newsLetter"
            class="newsletter__input"
          />
        </div>
        <div class="form__group checkbox__group">
          <input
            type="checkbox"
            name="newsLetterSubscription"
            id="newsletter-subscription"
            class="newsletter-subscription"
          />
          <label
            for="newsletter-subscription"
            class="newsletter-subscription-label"
            >GDPR tick box GDPR tick box GDPR tick box GDPR tick box GDPR tick
            box
          </label>
        </div>
        <button type="submit" class="newsletter__submit">
          SubMiT <span> &#5171;</span>
        </button>
      </form>
    </div>
  </div>
</footer>
