<header class="header">
  <div class="header__container container">
    <div class="header__topside">
      <div class="header__search">
        <img src="images/search.svg" class="search__icon" alt="" />
        <input type="text" placeholder="test" class="search__input" />
      </div>
      <div class="logo">
        <img src="images/logo.svg" />
      </div>
      <div class="controls__wrapper">
        <div class="account__controls">
          <span>Register</span>
          <span>My Account</span>
        </div>
        <div class="user__controls">
          <img src="images/wishlist.svg" alt="" />
          <img src="images/bag.svg" alt="" />
        </div>
      </div>
    </div>
    <nav class="header__bottomside">
      <ul class="bottomside__list">
        <li class="list__item">
          <a href="#">SHOP BY CATEGORY</a>
        </li>
        <li class="list__item">
          <a href="#">SHOP BY BRAND</a>
        </li>
        <li class="list__item">
          <a href="#">SHOP BY COLLECTION</a>
        </li>
        <li class="list__item">
          <a href="#">ABOUT KOIBIRD</a>
        </li>
        <li class="list__item">
          <a href="#">POP-UP SHOP</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
