.koiski__section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  position: relative;
  margin-bottom: 50px;
  .koiski__item {
    position: relative;
    height: 0px;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    img {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  .koiski__tag {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px 60px;
    font-weight: $standart-weight;
    text-transform: uppercase;
    background-color: $color-lime;
    font-size: 47px;
    line-height: 55.13px;
  }
}

@media screen and (max-width: 1440px) {
  .koiski__section {
    margin-bottom: 40px;
    gap: 15px;
    .koiski__tag {
      padding: 5px 45px;

      font-size: 42px;
      line-height: 50.13px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .koiski__section {
    margin-bottom: 30px;
    gap: 10px;
    .koiski__tag {
      padding: 5px 40px;

      font-size: 37px;
      line-height: 45px;
    }
  }
}
@media screen and (max-width: 768px) {
  .koiski__section {
    margin-bottom: 20px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    .koiski__tag {
      padding: 5px 30px;

      font-size: 30px;
      line-height: 40px;
    }
    [data-hide] {
      display: none;
    }
  }
}
@media screen and (max-width: 600px) {
  .koiski__section {
    margin-bottom: 0;
    .koiski__tag {
      padding: 2px 20px;

      font-size: 25px;
      line-height: 35px;
    }
  }
}
@media screen and (max-width: 425px) {
  .koiski__section {
    .koiski__tag {
      padding: 2px 15px;

      font-size: 20px;
      line-height: 30px;
    }
  }
}
