.new-in__section {
  margin-bottom: 90px;
  .title {
    margin-bottom: 20px;
  }
  .new-in__slider__wrapper {
    position: relative;

    .new-in__prev-arrow,
    .new-in__next-arrow {
      position: absolute;
      z-index: 10;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: transparent;
      top: 50%;
      transform: translateY(-50%);

      width: 16px;
      height: 30px;
      img {
        transition: all 0.3s ease;
      }
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
    .new-in__prev-arrow {
      left: -20px;
    }
    .new-in__next-arrow {
      right: -20px;
    }
    .new-in__slider {
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      overflow: hidden;
      .new-in__slider__card {
        padding: 20px;
        transition: all 0.3s ease;
        transform: translateX(0%);
        .new-in__card__image {
          height: auto;

          img {
            object-fit: contain;
            height: 100%;
            width: auto;
            max-width: 100%;
          }
        }
        .new-in__card__description {
          position: relative;
          color: $color-black;
          width: 100%;
          padding: 20% 0px 0px;
          span {
            display: block;
            font-weight: $standart-weight;
            font-size: $base-font-size;
            line-height: 20.77px;
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 10px;
            }
          }
          .product__wishlist_button {
            border: none;
            background-color: transparent;
            width: 16px;
            position: absolute;
            right: 0;
            top: 20px;
            img {
              width: 100%;
            }
          }
          .product__name {
            text-transform: uppercase;
          }
          .product__brand {
            color: $color-grey;
          }
          .product__price {
          }
          .product_button {
            position: relative;
            font-weight: $standart-weight;
            font-size: $base-font-size;
            line-height: 18.77px;
            border: none;
            background-color: transparent;
            padding-bottom: 6px;
            text-transform: uppercase;
            border-bottom: 2px solid $color-lime;
            transition: all 0.3s ease;
            &:hover {
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .new-in__section {
    margin-bottom: 70px;
    .title {
      margin-bottom: 20px;
    }
    .new-in__slider__wrapper {
      padding: 0px 20px;
      .new-in__prev-arrow,
      .new-in__next-arrow {
        padding: 0px 20px;
        width: 15px;
      }
      .new-in__slider {
        .new-in__slider__card {
          padding: 20px;
          .new-in__card__description {
            padding: 20% 0px 0px;
            span {
              font-size: $base-font-size - 2;
              line-height: 20.77px;
            }
            .product__wishlist_button {
              width: 16px;
            }
            .product_button {
              font-size: $base-font-size - 2px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .new-in__section {
    margin-bottom: 50px;
    .title {
      margin-bottom: 10px;
    }
    .new-in__slider__wrapper {
      padding: 0px 20px;
      .new-in__slider {
        .new-in__slider__card {
          padding: 15px;
          .new-in__card__description {
            padding: 20% 0px 0px;
            span {
              font-size: $base-font-size - 3px;
              line-height: 20.77px;
              margin-bottom: 2.5px;
              &:last-child {
                margin-bottom: 5px;
              }
            }
            .product__wishlist_button {
              width: 16px;
            }
            .product_button {
              font-size: $base-font-size - 3px;
              padding-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .new-in__section {
    margin-bottom: 50px;
    .new-in__slider__wrapper {
      .new-in__slider {
        .new-in__slider__card {
          padding: 10px;
          .new-in__card__description {
            padding: 20% 0px 0px;
            span {
              font-size: $base-font-size - 3px;
              line-height: 20.77px;
            }
            .product__wishlist_button {
              width: 16px;
            }
            .product_button {
              font-size: $base-font-size - 3px;
            }
          }
        }
      }
    }
  }
}
