/*------------------*
# Main Content
*------------------*/

.main-content {
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.wide-title {
  position: relative;
  font-size: 22px;
  font-weight: $bold-weight;
  line-height: 26px;
  letter-spacing: 5px;
  max-width: 90%;
  padding: 50px 0px;
  margin: 0 auto;
  margin-bottom: 120px;
  text-transform: uppercase;
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200vw;
    transform: translateX(-50%);
    height: 100%;
    z-index: -1;
    background-color: $color-lime;
  }
}

.title {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: $standart-weight;
  font-size: 22px;
  line-height: 25.81px;
  letter-spacing: 6px;
  margin: 0 auto;
  padding: 35px;
  margin-top: 0px;
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 100vw;
    height: 5px;
    background-color: $color-lime;
  }
  &::after {
    right: 100%;
  }
  &::before {
    left: 100%;
  }
}

.shop-now__button {
  cursor: pointer;
  position: relative;
  font-weight: $standart-weight;
  font-size: $base-font-size;
  line-height: 18.77px;
  border: none;
  background-color: transparent;
  padding-bottom: 6px;
  text-transform: uppercase;
  border-bottom: 2px solid $color-lime;
  transition: all 0.3s ease;
  &:hover {
    border-color: rgb(236, 177, 13);
  }
}

@media screen and (max-width: 1024px) {
  .wide-title {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 3.5px;
    padding: 30px 0px;
    margin-bottom: 70px;
  }
  .title {
    font-size: 18px;
    line-height: 20.81px;
    letter-spacing: 6px;
    padding: 25px;
    &::after,
    &::before {
      height: 5px;
    }
  }
  .product_button {
    font-size: $base-font-size - 2px;
  }
}
@media screen and (max-width: 768px) {
  .wide-title {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 2px;
    padding: 25px 0px;
    margin-bottom: 50px;
  }
  .title {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 2px;
    padding: 20px;
    &::after,
    &::before {
      height: 5px;
    }
  }
  .product_button {
    font-size: $base-font-size - 3px;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 425px) {
  .wide-title {
    max-width: 100%;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1.5px;
    padding: 20px 0px;
    margin-bottom: 30px;
  }
  .title {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 1.5px;
    padding: 20px;
    &::after,
    &::before {
      height: 5px;
    }
  }
  .product_button {
    font-size: $base-font-size - 3px;
  }
}
